{% extends 'base.html.twig' %}

{% block title %}Connexion ♥ Les Amoureux du Chocolat ♥{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row p-5">
        <div class="col-4 offset-4">

            <form method="post">

                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.useridentifier }}, <a
                        href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
                {% endif %}
                <h1 class="mt-5 mb-5" id="login-center-h1">Les Amoureux du Chocolat Connexion</h1>
                <label for="inputEmail" id="email-login">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
                    autocomplete="email" required autofocus>
                <label for="inputPassword" id="login-center-pswd">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                    autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me
                functionality.
                See https://symfony.com/doc/current/security/remember_me.html
                #}
                <div class="text-start mt-5" id="login-center">
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                </div>
                <div class="text-end mt-0" id="login-center-create">
                    <a href="{{ path('app_register') }}">Créer un compte</a>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me" id="login-center-rember"> Se souvenir de moi
                    </label>
                </div>

                <div class="text-end">
                    <button class="btn btn-md btn-primary mt-5 mb-5" id="btn-login" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}