{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} ♥ Les Amoureux du Chocolat ♥{% endblock %}

{% block body %}
<h1 class="text-center pt-5 mt-5">{{ category.name }}</h1>
<p class="section-title-p mb-5">Découvrez tous nos produits faits artisanalement.
    Un concentré d'amour, de passion et de création qui vont éveiller vos sens et vos papilles
    Laissez vous tentez par nos mélanges chocolat & fruits secs à la fois tendre et croquant.
</p>
<div class="row">
    {% for product in products %}
    {# <div class="col-4 p-3">
        <div class="card border-0 card-product">
            <img src="{{ asset('img/category/' ~ product.img ) }}" alt="photo principale" class="img-fluid">
            <div class="card-body text-center">
                <h4 class="card-title"> {{ product.productName }} </h4>
                <a href=" {{ path('product_view', {'id':product.id})}} " class="btn intro-btn mb-5 ">Détails</a>
            </div>
        </div>
    </div> #}
    <div class="col-md-3 p-3 col-6 mx-auto">
        <div class="card border-0 card-product">
            <img src="{{ asset('img/category/' ~ product.img ) }}" alt="photo principale" class="img-fluid">
            <div class="card-body  text-center">
                <h4 class="card-title">{{ product.productName }}</h4>
                <p class="mt-4">
                    <a href=" {{ path('product_view', {'id':product.id})}} " class="btn intro-btn mb-5 ">Détails</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}