{% extends "adminBase.html.twig" %}

{% block title %}Article{% endblock %}

{% block body %}

{{ form_start(articleForm)}}
<div class="row">
    <div class="col-8">
        {{ form_row(articleForm.title, {'label': 'Titre'})}}
    </div>
    <div class="col-4">
        {{ form_row(articleForm.category_id, {'label': 'Catégorie article'})}}
    </div>
</div>

<div class="col-12">
    {{ form_row(articleForm.content, {'label': 'Description article'})}}
</div>

<div class="row">
    <div class="col-6">
        {{ form_row(articleForm.featured_img, {'label': 'Photo article'})}}
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <a href=" {{ path('article_admin_index') }} " class="btn btn-danger m-3">Annuler</a>
    <button class="btn btn-success m-3">Créer/ajouter</button>
</div>
{{ form_end(articleForm)}}

{% endblock %}