{% extends 'adminBase.html.twig' %}

{% block title %}Commentaire blog {% endblock %}

{% block body %}
<h1>Commentaire blog Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Commentaire</th>
            <th>Article</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.article.title }}</td>
            <td>
                <a href="{{ path('comment_show', {'id': comment.id}) }}" class="text-warning"><i
                        class="fas fa-eye"></i>show</a>
                <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="text-danger"><i
                        class="fas fa-pen-square"></i>edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">aucun commentaire trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="">Create new</a>
<div class="d-flex justify-content-end my-5">
    <a href="{{ path('comment_new') }}" class="btn btn-success">Ajouter un commentaire</a>
</div>
{% endblock %}