{% extends 'adminBase.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<h2>Liste des catégories</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Catégorie</th>
            <th scope="col">cat. parent</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td class="align middle">{{ category.id }}</td>
            <td class="align middle">{{ category.name }}</td>
            <td class="align middle">{{ category.description }}</td>
            <td class="align middle">{{ category.name }}</td>
            <td class="align middle">{{ category.parentCategory ? category.parentCategory.name : '-' }}</td>
            <td class="align middle"><img src="{{ asset('img/category/' ~ category.img) }}" alt="{{ category.name }}">
            </td>
            {% if loop.index > 3 %} <td class="align middle">
                <a href="{{ path('category_update', {'id': category.id}) }}" class="text-primary">
                    <i class="fas fa-pen-square"></i>
                </a>
                <a href="{{ path('category_delete', {'id': category.id}) }}" class="text-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end my-5">
    <a href="{{ path('category_create')}}" class="btn btn-success">Ajouter une catégorie</a>
</div>
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}