{# la page ajout de catégorie #}
{% extends 'adminBase.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}


{{ form_start(categoryForm) }}
<div class="container">

	<div class="row">
		<div class="col-8">
			{{ form_row(categoryForm.name, {'label': 'Titre'}) }}
		</div>
		<div class="col-4">
			{{ form_row(categoryForm.parentCategory, {'label': 'Categorie'})}}
		</div>
	</div>

	<div class="col-12">
		{{ form_row(categoryForm.description, {'label': 'Description'}) }}
	</div>


	<div class="row">
		<div class="col-6">
			{{ form_row(categoryForm.img, {'label': 'image'}) }}
		</div>
	</div>

	<div class="col-12 d-flex justify-content-end">
		<a href="{{ path('category_admin_index') }}" class="btn btn-danger m-3">Annuler</a>
		<button class="btn btn-success m-3">Créer</button>
	</div>
</div>

{{ form_end(categoryForm) }}
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}