<h2>Coordonnées du contact par e-mail </h2>
<p>Nom : {{ firstName }} {{ lastName|upper }}</p>
<p>De : {{ emailAddress }}</p>
<p>Numéro de téléphone : {{ phone }}</p>

<h2>Message :</h2>
<p>{{ message|nl2br }}</p>