{% for label, messages in app.flashes %}
{% for message in messages %}
{# <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-0 rounded text-center col-12">
    {{ message }}<button type="button" class="btn-close alert-dismissible fade show" data-bs-dismiss="alert"></button>
</div> #}
<div class="bg-{{ label }}  alert alert-success alert-dismissible fade show text-center p-3 mb-0 mt-4  text-white">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endfor %}