<!-- Footer -->

<section class="">
    <!-- Footer -->
    <footer class=" text-white text-center">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <div class="logo-footer">
                        <img src="{{( '/img/Logo/logo_white_no_bg.png' )}}" alt="Les Amoureux du chocolat logo" />
                    </div>
                    <div class="flex-row social">
                        <a href="https://www.facebook.com/lesamoureuxduchocolat"><i class="fab fa-facebook"
                                class="d-flex justify-content-center p-5"></i></a>
                        <a href="https://www.instagram.com/accounts/login/?next=/lesamoureuxduchocolat/"><i
                                class="fab fa-instagram" class="d-flex justify-content-center p-5"></i></a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white">INFORMATIONS</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href=" {{ path('mentions')}} " class="text-white ">Mentions légales</a>
                        </li>
                        <li>
                            <a href="{{ path('conditions')}}" class="text-white">Conditions d'utilisation</a>
                        </li>
                        <li>
                            <a href=" {{ path('contact') }} " class="text-white">Nous contacter</a>
                        </li>
                        <li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href=" {{ path('admin') }} " class="text-white">Admin</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if is_granted('ROLE_USER') %}
                            <a href=" {{ path('user_index') }} " class="text-white">Votre compte</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white mb-0">HORAIRES D'OUVERTURES</h5>

                    <ul class="list-unstyled">
                        <li>Mardi - Samedi</li>
                        <li>09:30-19:30</li>
                        <li>Dimanche</li>
                        <li>09:30-13:00</li>
                        <li>Lundi</li>
                        <li>boutique fermé</li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <small class="text-white">&copy;Copyright Depuis 2002 par Les Amoureux du Chocolat. Tous droits réservés.
                812 329 <span id="date"></span>
                936
                R.C.S Evry</small>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>