<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('img/Logo/Les-amoureux-du-chocolat-logo_brown.png')}}"
                alt="Logo Les Amoureux du Chocolat" class="logo-nav">
        </a>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto me-sm-2 mt-2 mt-lg-0">
                <li class="nav-item active me-3">
                    <a class="nav-link" href=" {{ path('home') }} ">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('about') }} ">À propos</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('article_index')}} ">ChocoBlog</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('category_index') }} ">Produit</a>
                </li>
                {% if app.user%}
                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('app_logout') }} ">Se déconnecter</a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('admin') }} ">Administrateur</a>
                </li>
                {% else %}
                <li class="nav-item me-3">
                    <a class="nav-link" href=" {{ path('app_login') }} ">Se connecter</a>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Account Settings</a>
                        <a class="dropdown-item" href="#">Newsletter</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>