{{ form_start(form) }}
{{ form_widget(form) }}
<div class="col-12 text-end">
    <a href="{{ path('user_admin_index') }}" class="btn btn-outline-danger mt-5 me-2">Annuler</a>
    {# a changer sinon espace admin pour user #}
    <a class="btn btn-outline-dark mt-5 me-2">{{ button_label|default('Envoyer') }}</a>
</div>
{{ form_end(form) }}